/* header */

.header-line {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0; /* Position the header at the top of the viewport */
    left: 0; /* Position the header at the left of the viewport */
    width: 100%;
    height: 70px;
    background-color: rgb(18, 18, 18);
    z-index: 2;
  }
  
  .logo {
    width: 200px;
    margin-left: 4px;
    cursor: pointer;
    padding: 0;
    height:100%;
    border: none;
    background-color: rgb(18, 18, 18);
    background-image: url('../assets/ExpBraLogo.png');
    background-position: center;
    background-size: 100%;
    z-index: 1;
  }
  
  .header-line .logo:active {
  opacity: 0.5;
  }
  
  .menu-info{
    height: auto;
    display: flex;
    position: fixed;
    top: 9px;
    right: 40%;
  }
  
  .data{
    height: auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    margin-left: 10px;
  }
  
  .temperatura{
    height: auto;
    font-family: Arial, sans-serif;
    font-size:24px;
    margin-left: 20px;
    margin-top: 10px;
    
  }
  
  .menu-links {
    height: auto;
    display: flex;
    position: fixed;
    top: 0px;
    right: 20px;
  }
  
  .menu-links a {
    font-family: Arial, sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-top: 22px;
    margin-left: 40px; 
  }
  
  .menu-links a:hover {
    color: red;
    text-shadow: 5px 5px 5px rgba(255, 0, 0, 0.517);
    transition: 0.7s;
  }
  
  .menu-links a:active{
    transition: 0.2s;
    color: black;
  }
  
  .menu-drop{
    position: fixed;
    right: -4%;
    visibility: hidden;
    color: rgb(255, 0, 0);
    cursor: pointer;
    background-color: rgb(18, 18, 18);
    border: none;
    font-size: 35px;
    z-index: 1;
  }
  
  .menu-drop:hover{
    opacity: 0.5;
  }
  
  .menu-tabela{
    visibility: hidden;
    position: fixed;
    display:grid;
    border-radius: 10px;
    right: 0;
    top: 70px;
    height: 150px;
    width: 100px;
    background-color: red;
    opacity: 0.7;
    z-index: 2;
  }
  
  .menu-tabela a{
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: white;
    width: 100px;
    height: 10px;
    text-align: center;
  }
  
  .menu-tabela a:hover{
    color: gray;
    transition: 0.7s;
  }
  
  /* Upper Line */
  
  .upper-line {
    width: 100%;
    margin-top: 68px;
    position: fixed;
    top: 0px;
    left: 0px;
    height: auto;
    border: none; /* Remove the default border */
    border-top: 2px solid red; /* Add a red border as the upper line */
    z-index: 2;
  }

  @media only screen and (max-width: 1020px){
    .data{
      visibility: hidden;
      opacity: 0.7;
      transition: 0.3s;
    }
  }

  @media only screen and (max-width: 700px) {
    .temperatura{
      visibility: hidden;
      opacity:0.7;
      transition: 0.3s;
    }
  
    .menu-links{
      visibility: hidden;
      opacity: 0.7;
      transition: 0.3s;
    }
  
    .menu-drop{
      visibility: visible;
      margin-right: 7%;
      transition: 0.6s;
    }
  
    .menu-tabela{
      visibility: visible;
    }
  }