/* PopUp */

.modal{
    width: 500px;
    border-radius: 10px;
    position: fixed;
    height: auto;
    background-color: white;
  }
  
  .close{
    position: relative;
    
    top: 10px;
    cursor: pointer;
    opacity: 1;
  }