/* estilos do switch */

.switch {
    position: fixed;
    top: 22px; 
    left: 140px; 
    display: inline-block;
    width: 40px;
    height: 25px;
    z-index: 1; /* Ensure the switch stays above other elements */
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border: 1px solid rgb(140, 0, 0);
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    bottom: -3.5px;
    left: -8px;
    background-image: url('../assets/Lua.png');
    background-size: cover; /* adjust as needed */
    border: 2px solid rgb(140, 0, 0);
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 5px rgb(140, 0, 0);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
    background-image: url('../assets/Sol.png');
    background-size: cover; 
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 50px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }