.body{
  position:fixed;
  top: 0;
  left: 0;
  background-image: url('./assets/Fundo.jpg');
  background-size: 50%;
  height: 100%;
  width: 100%;
  z-index: 0;
}


/* estilos do switch */

.switch {
  position: fixed;
  top: 22px; 
  left: 140px; 
  display: inline-block;
  width: 40px;
  height: 25px;
  z-index: 1; /* Ensure the switch stays above other elements */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 1px solid rgb(140, 0, 0);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  bottom: -3.5px;
  left: -8px;
  background-image: url('./assets/Lua.png');
  background-size: cover; /* adjust as needed */
  border: 2px solid rgb(140, 0, 0);
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 5px rgb(140, 0, 0);
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-image: url('./assets/Sol.png');
  background-size: cover; 
}

/* Rounded sliders */
.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}

/* menu */

.header-line {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0; /* Position the header at the top of the viewport */
  left: 0; /* Position the header at the left of the viewport */
  width: 100%;
  height: 70px;
  background-color: rgb(18, 18, 18);
  z-index: 2;
}

.header-line .home {
  width: 100px;
  margin-left: 4px;
  cursor: pointer;
  padding: 0;
  height:100%;
  border: none;
  background-image: url('./assets/Final.png');
  background-position: center;
  background-size: 100%;
}

.header-line .home:active {
opacity: 0.5;
}



.header-line .data{
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: hsl(0, 0%, 100%);
  position: fixed;
  left: 41%;
}

.header-line .temperatura{
  font-family: Arial, sans-serif;
  font-size:24px;
  position: fixed;
  left: 54%;
}

.menu-links {
  height: auto;
  display: flex;
  position: fixed;
  top: 0px;
  right: 20px;
}

.menu-links a {
  font-family: Arial, sans-serif;
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin-top: 22px;
  margin-left: 40px; /* Adjust the margin */
}

.menu-links a:hover {
  color: red;
  text-shadow: 5px 5px 5px rgba(255, 0, 0, 0.517);
  transition: 0.7s;
}

.menu-links a:active{
  transition: 0.2s;
  color: black;
}

/* ainda n percebo o sentido disto*/
@media (max-width: 1576px) {
  .header-line {
    align-items: flex-start;
  }

  .menu-links {
    margin-right: 10px;
  }
}

/* Upper Line */

.upper-line {
  width: 100%;
  margin-top: 68px;
  position: fixed;
  top: 0px;
  left: 0px;
  height: auto;
  border: none; /* Remove the default border */
  border-top: 2px solid red; /* Add a red border as the upper line */
  z-index: 2;
}

/* Imagens container */
.imagens{
  animation: imageAnimation 40s infinite;
  background-size: 100%;
  background-position: center;
  background-color: black;
  background-repeat: no-repeat;
  position: fixed;
  top: 60px;
  left: -15px;
  border: none;
  border-radius: 30px;
  box-shadow: 1px 1px 50px hsl(0, 98%, 50%);
  padding: 300px;
  width: 70%;
  z-index: 1;
}

@keyframes imageAnimation {
  0%{
    background-image: url('./assets/Centro0.JPG');
    opacity: 1;
  }
  16.6%{
    background-image: url('./assets/Centro1.JPG');
    opacity: 1;
  }
  33.2%{
    background-image: url('./assets/Topo0.JPG');
    opacity: 1;
  }
  50%{
    background-image: url('./assets/Topo1.JPG');
    opacity: 1;
  }
  66.6%{
    background-image: url('./assets/Festa0.JPG');
    opacity: 1;
  }
  83.2%{
    background-image: url('./assets/Jardim0.JPG');
    opacity: 1;
  }
  100%{
    background-image: url('./assets/Centro0.JPG');
    opacity: 1;
  }
}

/* Menu Titulo */

.menu-titulo{
  position: fixed;
  top: 160px;
  left: 780px;
  text-align: center;
  z-index: 1;
}

.titulo{
  font-family: Arial, sans-serif;
  font-size: 60px;
  text-shadow: 4px 2px 4px black;
  color: white;
  
}

/* Menu Buttons */

.button1{
  padding: 60px 250px;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  background-image: url('./assets/metallicGrey.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.button1:hover{
  transform: translateY(-15px);
  transition: 0.7s;
  border: 1px solid red;
  box-shadow: 1px 1px 20px red;
}

.button1:active{
  background-color: rgb(255, 132, 132);
  transition: 0.1s;
}

.button2{
  padding: 60px 250px;
  margin-left: 150px;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  background-image: url('./assets/metallicGrey.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.button2:hover {
  transform: translateY(-15px);
  transition: 0.7s;
  border: 1px solid red;
  box-shadow: 1px 1px 20px red;
}

.button2:active{
  background-color: rgb(255, 132, 132);
  transition: 0.1s;
}

.button-word{
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: white;
}

.button1:hover .button-word{
  transition: 0.7s;
  color: red;
}

.button2:hover .button-word{
  transition: 0.7s;
  color: red;
}
/* Buttons container */

.C1{
  position: fixed;
  bottom: 85px;
  left:15%;
}

/* PopUp */

.modal{
  width: 500px;
  border-radius: 10px;
  position: fixed;
  height: auto;
  background-color: white;
}

.close{
  position: relative;
  
  top: 10px;
  cursor: pointer;
  opacity: 1;
}
