.body{
  position:fixed;
  top: 0;
  left: 0;
  background-image: url('./assets/Fundo.jpg');
  background-size: 50%;
  height: 100%;
  width: 100%;
  z-index: 0;
  height: 100vh; /* Define a altura do corpo como 100% da altura da janela de visualização */
  overflow-y: auto; /* Permite a rolagem vertical quando o conteúdo excede a altura do corpo */
}
/* estilos do switch */

.switch {
  position: fixed;
  top: 22px; 
  left: 140px; 
  display: inline-block;
  width: 40px;
  height: 25px;
  z-index: 1; /* Ensure the switch stays above other elements */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 1px solid rgb(140, 0, 0);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  bottom: -3.5px;
  left: -8px;
  background-image: url('./assets/Lua.png');
  background-size: cover; /* adjust as needed */
  border: 2px solid rgb(140, 0, 0);
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 5px rgb(140, 0, 0);
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-image: url('./assets/Sol.png');
  background-size: cover; 
}

/* Rounded sliders */
.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}

/* menu */

.header-line {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0; /* Position the header at the top of the viewport */
  left: 0; /* Position the header at the left of the viewport */
  width: 100%;
  height: 70px;
  background-color: rgb(18, 18, 18);
  z-index: 2;
}

.home {
  width: 200px;
  margin-left: 4px;
  cursor: pointer;
  padding: 0;
  height:100%;
  border: none;
  background-color: rgb(18, 18, 18);
  background-image: url('./assets/ExpBraLogo.png');
  background-position: center;
  background-size: 100%;
  z-index: 1;
}

.header-line .home:active {
opacity: 0.5;
}

.menu-info{
  height: auto;
  display: flex;
  position: fixed;
  top: 9px;
  right: 40%;
}

.data{
  height: auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: hsl(0, 0%, 100%);
  margin-left: 10px;
}

.temperatura{
  height: auto;
  font-family: Arial, sans-serif;
  font-size:24px;
  margin-left: 20px;
  margin-top: 10px;
  
}

.menu-links {
  height: auto;
  display: flex;
  position: fixed;
  top: 0px;
  right: 20px;
}

.menu-links a {
  font-family: Arial, sans-serif;
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin-top: 22px;
  margin-left: 40px; 
}

.menu-links a:hover {
  color: red;
  text-shadow: 5px 5px 5px rgba(255, 0, 0, 0.517);
  transition: 0.7s;
}

.menu-links a:active{
  transition: 0.2s;
  color: black;
}

.menu-drop{
  position: fixed;
  right: -4%;
  visibility: hidden;
  color: rgb(255, 0, 0);
  cursor: pointer;
  background-color: rgb(18, 18, 18);
  border: none;
  font-size: 35px;
  z-index: 1;
}

.menu-drop:hover{
  opacity: 0.5;
}

.menu-tabela{
  visibility: hidden;
  position: fixed;
  display:grid;
  border-radius: 10px;
  right: 0;
  top: 70px;
  height: 150px;
  width: 100px;
  background-color: red;
  opacity: 0.7;
  z-index: 2;
}

.menu-tabela a{
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: white;
  width: 100px;
  height: 10px;
  text-align: center;
}

.menu-tabela a:hover{
  color: gray;
  transition: 0.7s;
}

/* Upper Line */

.upper-line {
  width: 100%;
  margin-top: 68px;
  position: fixed;
  top: 0px;
  left: 0px;
  height: auto;
  border: none; /* Remove the default border */
  border-top: 2px solid red; /* Add a red border as the upper line */
  z-index: 2;
}

/* Imagens container */
.imagens{
  animation: imageAnimation 40s infinite;
  background-size: 90%;
  background-position-y: 55%;
  background-color: black;
  background-repeat: no-repeat;
  position: relative;
  top: 7%;
  left: -1%;
  border: none;
  border-radius: 30px;
  box-shadow: 1px 1px 50px hsl(0, 98%, 50%);
  height: 64%;
  width: 120%;
  z-index: 0;
}

@keyframes imageAnimation {
  0%{
    background-image: url('./assets/Centro0.JPG');
    opacity: 1;
  }
  16.6%{
    background-image: url('./assets/Centro1.JPG');
    opacity: 1;
  }
  33.2%{
    background-image: url('./assets/Topo0.JPG');
    opacity: 1;
  }
  50%{
    background-image: url('./assets/Topo1.JPG');
    opacity: 1;
  }
  66.6%{
    background-image: url('./assets/Festa0.JPG');
    opacity: 1;
  }
  83.2%{
    background-image: url('./assets/Jardim0.JPG');
    opacity: 1;
  }
  100%{
    background-image: url('./assets/Centro0.JPG');
    opacity: 1;
  }
}

/* Menu Titulo */

.menu-titulo{
  position: relative;
  top: -50%;
  left: 0%;
  text-align: center;
  z-index: 1;
}

.titulo{
  font-family: Arial, sans-serif;
  font-size: 60px;
  text-shadow: 4px 2px 4px black;
  color: white;
  
}

/*Arrow*/
  
.Arrow{
  background-color: transparent;
  color: white;
  width: 120px;
  height: 40px;
  cursor: pointer;
  border: 0;
  border-radius: 20px;
  font-size: 30px;
}

.Arrow:hover{
  color: red;
  transition: 0.5s;
}

/* Home page Buttons */

.button1{
  margin-top: 10px;
  width: 350px;
  cursor: pointer;
  border-radius: 10px;
  border-color: black;
  background-image: url('./assets/metallicGrey.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.button1:hover{
  transform: translateY(-15px);
  transition: 0.7s;
  border: 1px solid red;
  box-shadow: 1px 1px 20px red;
}

.button1:active{
  background-color: rgb(255, 132, 132);
  transition: 0.1s;
}

.button2{
  margin-top: 20px;
  width: 350px;
  cursor: pointer;
  border-radius: 10px;
  border-color: black;
  background-image: url('./assets/metallicGrey.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.button2:hover {
  transform: translateY(-15px);
  transition: 0.7s;
  border: 1px solid red;
  box-shadow: 1px 1px 20px red;
}

.button2:active{
  background-color: rgb(255, 132, 132);
  transition: 0.1s;
}

.button-word{
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: white;
}

.button1:hover .button-word{
  transition: 0.7s;
  color: red;
}

.button2:hover .button-word{
  transition: 0.7s;
  color: red;
}
/* Buttons container */

.C1{
  position: fixed;
  bottom: 85px;
  left:15%;
}

/* PopUp */

.modal{
  width: 500px;
  border-radius: 10px;
  position: fixed;
  height: auto;
  background-color: white;
}

.close{
  position: relative;
  
  top: 10px;
  cursor: pointer;
  opacity: 1;
}


/* SignUp styles */

.SignUp{
  top: 40%;
  left: 30%;
  position: fixed;
  background-color: red;
}


@media only screen and (max-width: 1020px){
  .data{
    visibility: hidden;
  }

  .imagens{
    background-size: 130%;
    transition: 0.5s;
  }
}

@media only screen and (max-width: 700px) {
  .temperatura{
    visibility: hidden;
  }

  .menu-links{
    visibility: hidden;
  }

  .menu-drop{
    visibility: visible;
    margin-right: 7%;
  }

  .menu-tabela{
    visibility: visible;
  }
}

/* Afonso */

.search-container {
  position: relative;
}

.caixaevents {
  border-radius: 30px;
  width: 90%; /* largura da caixa de texto */
  padding: 10px; /* espaçamento interno */
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 16px; 
}

.body .events{
  position: relative;
  margin-top: 70px;
  margin-bottom: 0;
  margin-left: 200px;
  margin-right: 200px;
  color:aliceblue;
  text-align: center;
}
